<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

  </head>
  <body>
    <h1>Detalles de la reserva</h1>
    <h2>¡¡Gracias por reservar con nosotros {{customer}}!!</h2>

    <h2>{{message}}</h2>

    <p>Tenga en cuenta que tiene hasta las 10:00 A.M. para desalojar el departamento</p>

    <h4>Código de reserva: {{ref_code}}</h4>
    <h4>Monto: ${{amount}}</h4>
    <h4>Cuotas: {{installments}}</h4>
    <h4>Monto por cuota: ${{installment_amount}}</h4>
    <h4>Monto Total: ${{total_amount}}</h4>

    <p>Le agradecemos por confiar en nosotros y que tenga un buen día</p>

  </body>
</html>
